body {
    min-height: 250px;
    min-width: 250px;
    text-align: center;
    background: black;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

.coin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

img {
    height: 30px;
    padding-right: 10px;
}

#trackerbox {
    display: flex;
    flex-direction: column;
}